services:
  redis:
    image: "redis:latest"
    hostname: redis
    ports:
      - "6379:6379"

  dev:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
      - "8000:8000"
    init: true
    tty: true
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    volumes:
      - .:/workspace
    command: /bin/bash
